# Duplicate this file, rename it to .env, and fill in your keys
GROQ_API_KEY =your_api_key_here
QDRANT_URL=your_database_url_here
QDRANT_API_KEY= your_api_key_here
HF_TOKEN=your_hf_token_here
COHERE_API_KEY=your_api_key_here

